*.pdf
!propsal/proposal.org
cabal-dev
dist
Setup.hs
.cabal-sandbox
cabal.sandbox.config
report/doc

MagicHaskeller*
testing-feat*
feldspar-language*

# Org mode files
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.run.xml
*.tex
